@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&display=swap");

body {
  background-color: black;
}

h1 {
  font-family: "Caveat", cursive;
  font-family: "Libre Baskerville", serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

img {
  border: 5px solid white;
  width: 100%;
}

p {
  color: white;
  text-align: center;
}

div {
  margin-top: 90px;
  width: 50%;
  margin-left: 25%;
  height: 100%;
}
