<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="title" type="text" class="form-control" id="title" />
  </div>
  <div class="mb-3">
    <label for="post" class="form-label">Post</label>
    <textarea name="post" class="form-control" id="post" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 10px">
    Publish
  </button>
</form>
<%- include('partials/footer'); -%>
